<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--将dao实现类交给spring管理-->
    <!--
        bean 将哪个类交给spirng管理
            class属性 指定项目的某个类, 前提: 这个类必须可以new
            id属性 给spring new出的对象起一个唯一的别名, 可以省略不写, 如果不写id就是当前类名但是第一个字母小写
    -->
    <bean id="accontDaoImpl" class="cn.itcast.dao.impl.AccountDaoImpl">
        <property name="bankName" value="农业银行"/>

    </bean>

    <bean id="accountServiceImpl" class="cn.itcast.service.impl.AccountServiceImpl">
        <property name="accountDao" ref="accontDaoImpl"/>
    </bean>
</beans>